
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=window-list
X-GNOME-Autostart-enabled=true
Icon=window-list
Name=Window-List
Comment=indicator to display a list of open windows
Categories=Utility;

Name[en_AU]=window-list-autostart.desktop
